<!-- <script>
function registerJob() {
    var form = document.getElementById('registerForm');
    form.innerHTML = '<p>Registering...</p>';
    form.submit();
}
</script> -->


{% for job in jobs%}

<h1>{{ job.NameofCompany }}</h1>
<p>Profile of Company: {{ job.profileOfCompany }}</p>
<p>Job Profile: {{ job.JobProfile }}</p>
<p>Job Description: {{ job.JobDescription }}</p>
<p>Employement Type: {{ job.EmploymentType }}</p>
<p>website: {{ job.Website }}</p>
<p>Linkedin: {{ job.Linkedin }}</p>
<p>Address: {{ job.Address }}</p>
<p>Worklocation: {{ job.Worklocation }}</p>
<p>Branch Choice: {{ job.get_BranchChoice_display }}</p>
<p>Eligibility: {{ job.Eligibility }}</p>
<p>Stipend: {{ job.stipend }}</p>
<p>CTC: {{ job.ctc }}</p>
<p>Bond: {{ job.Bond }}</p>
<p>SelectionProcess: {{ job.SelectionProcess }}</p>
<p>Joining Date: {{ job.join_date }}</p>
<p>End Date for Registration: {{ job.end_of_registration }}</p>
<hr>
{% endfor %}


<!-- <form action="{% url 'register_job' %}" method="post">
</form> -->

{% if user.is_authenticated %}
    {% if user_has_registered %}
        <p>You have already registered for this job.</p>
    {% elif user_is_staff%}
    <p>You are an admin. Please Login from a student account to register.</p>
        {% else %}
        <!-- <form id="registerForm" action="{% url 'register_job' %}" method="post">
            {% csrf_token %}
            {{ JobProfileForm }}
        </form> -->
        {% endif %}
        {% else %}
    <!-- <input type="button" value="Register" onclick="registerJob()"> -->
    <a href="{% url 'login' %}">Login to register</a>
{% endif %}

<form action="{% url 'register_job' %}" method="post">
    {% csrf_token %}
    {{ JobProfileForm }}
    <input type="submit" value="Submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>